* {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-style: normal;
}

.body {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.top_title {
    width: inherit;
}

.top_title_header {
    display: flex;
    width: inherit;
    background-color: #222;
    min-height: 75px;
}

.top_header_margin {
    display: flex;
    width: inherit;
    justify-content: space-between;
    /*margin-left: 14.4%;
    margin-right: 14.3%;*/
}


/*.top_header_btn {
    max-width: 1140px;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    display: flex;
    justify-content: space-between;
}*/

.top_title_header_icons_left {
    display: flex;
    gap: 41px;
    margin-top: 20px;
    margin-left: 14.4%;
    max-height: 38px;
}

.top_title_header_icons_right {
    display: flex;
    gap: 41px;
    margin-top: 28px;
    gap: 33px;
    margin-right: 20%;
    max-height: 29px;
}

.top_title_itself {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 764px;
    background-color: #f1e4e6;
}

.thisDudeIsInTheDrip_img {
    display: flex;
    min-height: 764px;
    width: 50%;
    background: url(../JavaScript_Sem12Hw/JavaScript_Sem12Hw_images/man\ in\ some\ drip1.png) no-repeat;
    background-position: top;
}

.here_goes_the_title_text {
    text-transform: uppercase;
    width: 50%;
    display: flex;
    align-items: center;
}

.place_for_title_text {
    position: relative;
    margin-left: 92px;
}

.some_purple_block_down_here {
    display: block;
    position: absolute;
    width: 12px;
    height: 92px;
    top: 0;
    left: -24px;
    background: #f16d7f;
}

.title_first_word {
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
}

.title_other_words {
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 700;
}

.title_last_purple_word {
    color: #f16d7f;
}

.catalog_of_offers {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    position: relative;
    margin-top: 65px;
    margin-bottom: 96px;
}

.catalog_first_offer {
    display: flex;
    align-content: center;
    position: relative;
    min-height: 260px;
    background: url(../JavaScript_Sem12Hw/JavaScript_Sem12Hw_images/Layer\ 43.png);
    background-position: center;
    background-size: contain;
}

.catalog_first_offer::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(33, 22, 22, 0.7);
    z-index: 1;
}

.catalog_offer_text {
    /*text-transform: uppercase;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-align: center;
    z-index: 3;
}

.catalog_offer_title {
    width: 100%;
    color: #ffffff;
}